@{
    ViewBag.Title = "За нас";
}
<h2>За нас</h2>
<h3>Добре дошли в сайта за филми Movie Catalog!</h3>

<p>Вие сте голям любител на магията на киното , гледите прекалено много сериали и често ви се случва да забравите до кой епизод сте стигнали, Movie Catalog е идиялният  сайт за вас. Тук ще си водите дневник за изгледаните филми и сериали. Даваме ви възможност да записвате всичко което сте гледали и кога. Вече няма да се чудите дали сте гледали даден филм или сериал за ваше удобство просто влизате в дневника и проверявате. Информираме ви за най-новите излезнали филми в уеб пространството. </p>
