@{
    ViewBag.Title = "Контакти";
}
<h2>Контакти</h2>
<h3>Филмов каталог</h3>

<address>
    България<br />
    бул."България" 236<br />
    <abbr title="Phone">Телефон:</abbr>
    0896363737
</address>
